@media screen and (max-width: 760px){
    /*header*/
    header{
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
    }

    header #capa-palmito{
        display: flex;
        width: 220px;
        height: 130px;
    }

    header #title h1{
        font-size: 55px;
        width: 45%;
    }

    header #title h2{
        font-size: 30px;
        width: 45%;
        line-height: 3rem;
    }
    /* end header*/
    /* main*/
    main{
        flex-direction: column;
    }
    /* end main*/


    /*footer*/
    #footer{
        background-color: var(--footer-color);
        border: 2px solid antiquewhite;
        font-size: 0.6cm;
        width: 100%;
        padding: 5px;
        position: relative;
    }

    #footer .flex-container{
        display: flex;
        flex-direction: row;
        width: 315px;
        height: 200px;
        font-size: 15px;
        
    }

    #footer .flex-container #info-empresa{
        position: absolute;
        right: 1;
        width: 50%;
        height: 90%;       
        
    }

    #footer .flex-container #contato{
        position: absolute;
        right: 0;
        width: 50%;
        height: 90%;
        
    }
    /* end footer*/


}